{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-property-sort-order-smacss",
  ],
  "rules": {
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["for", "global-import"]
    }],
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }]
  }
}
